<div class="container mt-3">
<% if @coffees.empty? %>
  <h3> Não existem cafés cadastrados</h3>
  <%= link_to 'Cadastrar cafe', new_coffee_path%>
<% else %>
  <h3>Cafés cadastrados</h3>
  <% @coffees.each do |coffee| %>


  <div class="container">
    <div class="card-review">
      <div class="row justify-content-between mx-1">
      <p>
        <%= link_to coffee.name, coffee_path(coffee), style:"color: grey;"  %>
      </p>

        <p>
        <%= coffee.brand %>
        </p>
      </div>
      <% if user_signed_in? && coffee.user_id == current_user.id %>
        <%= link_to image_tag('edit.png', style:"width: 28px;"), edit_coffee_path(coffee)  %>
        <%= link_to image_tag('delete.png', style:"width: 25px;"), coffee_path(coffee), method: :delete  %>
    <% end %>

    </div>
  </div>



  <% end %>
<% end %>
</div>
