<div class="social-icons">
  <a href="https://www.facebook.com/sharer/sharer.php?u=<%= coffee_url(@coffee) %>" class="social-circle-link-2 w-inline-block" target="_blank" rel="noopener">
    <%= image_tag "facebook-icon-color.svg", class:'social-icon'%>
  </a>
  <a href="https://twitter.com/share?ref_src=<%= coffee_url(@coffee) %>" data-text="Da uma olhada nesse cafe" class="social-circle-link-2 w-inline-block" target="_blank" rel="noopener" data-show-count="false">
    <%= image_tag "twitter-icon-color.svg", class:'social-icon'%>
  </a>
  <a alt="Whatsapp" href="whatsapp://send?text=<%= coffee_url(@coffee) %>" data-text="Da uma olhada nesse cafe" data-href="https://www.qcoffee.app/" class="social-circle-link-2 w-inline-block" target="_blank" rel="noopener">
    <%= image_tag "whatsapp.png", class:'social-icon', style:"width: 15px;"%>
  </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   <script type="text/javascript">


        waShBtn = function() {
        if( this.isIos === true ) {
          var b = [].slice.call( document.querySelectorAll(".wa_btn") );
          for (var i = 0; i < b.length; i++) {
            var t = b[i].getAttribute("data-text");
            var u = b[i].getAttribute("data-href");
            var o = b[i].getAttribute("href");
            var at = "?text=" + encodeURIComponent( t );
            if (t) {
                at += "%20%0A";
            }
            if (u) {
                at += encodeURIComponent( u );
            } else {
                at += encodeURIComponent( document.URL );
            }
            b[i].setAttribute("href", o + at);
            b[i].setAttribute("target", "_top");
            b[i].setAttribute("target", "_top");
            b[i].className += ' activeWhatsapp';
          }
        }
      }

      waShBtn.prototype.isIos = ((navigator.userAgent.match(/Android|iPhone/i) && !navigator.userAgent.match(/iPod|iPad/i)) ? true : false);

      var theWaShBtn = new waShBtn();
    </script>
</div>
