<div class="top-images" id="banner">
  <%= image_tag "field.jpg", style:"width: 100%; height: 25%"%>
  <div class="container">
    <div class="bottom-image">
      <%= image_tag "coffee.jpg", style:"width: 40%; height: 30%; margin-left: 10px;"%>
      <div class="rating">
        <h3><%= @average_float.round(2) %></h3>
        <div class="row">
          <% @average.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5- @average).times do %>
          <i class="far fa-star"></i>
        <% end %>
        </div>
        <p>R$ 24</p>
      </div>
    </div>

    <div class="desc d-flex row">
      <div class="col-10">
        <ul style="padding-left: 9px;">
          <li><small><%= @coffee.brand %></small></li>
          <li><strong><%= @coffee.name %></strong></li>
          <li>Torra: <%= @coffee.roast %> do <%= @coffee.origin.name %></li>
          <li>Notas: <%= @coffee.sensory %></li>
          <li>Gosto: <%= @coffee.taste %></li>
          <li>Fazenda: <%= @coffee.farm %></li>
        </ul>
      </div>

      <% if user_signed_in? %>
        <% image_path =  @like.any? ? 'fas' : 'far' %>
          <p><%= link_to "<i class='#{image_path} fa-heart'></i>".html_safe,
                 coffee_toggle_like_path(@coffee),
                 remote: true,
                 method: :post,
                 id:'heart' %></p>
      <% end %>
    </div>
  </div>
</div>

<%= render 'share_link' %>

<%= render 'reviews/new' %>

<% @reviews.each do |review|  %>
  <div class="container">
    <div class="card-review">
      <p>
        <%= review.content %>
      </p>

      <div class="row justify-content-around">
        <p>
        <% review.rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5- review.rating).times do %>
          <i class="far fa-star"></i>
        <% end %>
        </p>
        <p>
          <% if user_signed_in? %>
              <% image_path =  review.review_likes.any? ? 'fas' : 'far' %>
                <p><%= link_to "<i class='#{image_path} fa-thumbs-up'></i>".html_safe,
                       review_toggle_review_like_path(review),
                       remote: true,
                       method: :post,
                       id:"review" %> <%= review.review_likes.count %></p>
          <% end %>
        </p>
      </div>
      <% if user_signed_in? && current_user.id == review.user_id %>
        <%= link_to image_tag('edit.png', style:"width: 28px;"), edit_coffee_review_path(@coffee, review)  %>
        <%= link_to image_tag('delete.png', style:"width: 25px;"), review_path(review), method: :delete  %>
      <% end %>
    </div>
  </div>
<% end %>
