<p><%= @coffee.name %></p>
<p><%= @coffee.origin %></p>
<p><%= @coffee.brand %></p>
<p><%= @coffee.roast %></p>
<p><%= @coffee.sensory %></p>
<p><%= @coffee.farm %></p>

<% if user_signed_in? %>
  <% if @like.any? %>
    <%='☕❤️'%></dd>
    <p><%= link_to 'Desfavoritar Café',
           coffee_like_path(@coffee),
           method: :delete %></p>
  <% else %>
    <p><%= link_to 'Favoritar Café',
           coffee_likes_path(@coffee),
           method: :post %><p>
  <% end %>
<% end %>


<%= render 'share' %>


<%= render 'reviews/new' %>

<% @reviews.each do |review|  %>

  <p>
    <% if user_signed_in? %>
      <% if review.review_likes.any? { |rl| rl.user_id == current_user.id }%>
        <%='⭐'%></dd>
        <p><%= link_to 'Descurtir Review',
               review_like_path(review),
               method: :delete %></p>
      <% else %>
        <p><%= link_to 'Curtir Review',
               review_review_likes_path(review),
               method: :post %><p>
      <% end %>
    <% end %>
    <p>Likes: <%= review.review_likes.count %></p>

  <p>
    <% review.rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>
    <% (5- review.rating).times do %>
      <i class="far fa-star"></i>
    <% end %>
  </p>
  <p>
    <%= review.content %>


  </p>
  <% if user_signed_in? && current_user.id == review.user_id %>
    <%= link_to 'editar', edit_coffee_review_path(@coffee, review)  %>
    <%= link_to 'deletar', review_path(review), method: :delete  %>
  <% end %>
<% end %>
