<p><%= @coffee.name %></p>
<p><%= @coffee.origin %></p>
<p><%= @coffee.brand %></p>
<p><%= @coffee.roast %></p>
<p><%= @coffee.sensory %></p>
<p><%= @coffee.farm %></p>

<%#= render 'reviews/new' %>

<% @reviews.each do |review|  %>
  <p>
    <% review.rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>
    <% (5- review.rating).times do %>
      <i class="far fa-star"></i>
    <% end %>
  </p>

  <p>
    <%= review.content %>
  </p>
  <% if current_user.id == review.user_id %>
  <% end %>
  <%= link_to 'editar', edit_review_path(review)  %>
  <%= link_to 'deletar', review_path(review), method: :delete  %>
<% end %>


