<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login">

      <h2>Editar meu perfil</h2>

      <%= simple_form_for(resource, as: resource_name, url: user_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :first_name, label: 'Nome',
                      hint: "leave it blank if you don't want to change it",
                      required: true,
                      input_html: { autocomplete: "first-name" } %>
          <%= f.input :about, label: 'Sobre mim',
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "about" } %>
          <%= f.input :password, label: 'Senha',
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation, label: 'Confirmar senha',
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password, label: 'Senha atual',
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :photo, as: :file %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Atualizar" %>
        </div>
      <% end %>


      <p>Não está gostando?
      <br>
      <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Ahhhh :( você tem certeza?" }, method: :delete %></p>

      <%= link_to "Voltar", :back %>
      </div>
    </div>
  </div>
</div>
