<div class="container">
  <h6>O que você tem a dizer sobre <%= @coffee.name %>?</h6>
  <%= simple_form_for([@coffee, @review], remote: true) do |f| %>
    <%= f.input :content, label: 'Eu achei...' %>
    <%= f.input :rating, collection: (1..5).to_a, label: 'Minha nota é' %>
    <%= f.button :submit, "Adicionar avaliação", class:"btn-ghost" %>
  <% end %>
</div>
