<div class="container">
  <h3>Adicione uma review para <%= @coffee.name %></h3>
  <%= simple_form_for([@coffee, @review], remote: true) do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
